*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(
        135deg,
        #ffcf1b,
        #ff8b1b);
}

.container {
    width: 45%;
    min-width: 500px;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.scores {
    margin-bottom: 50px;
    text-align: right;
}
.weapans {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;

    & button {
        background-color: #ffd51b;
        color: #000000;
        border: none;
        font-size: 50px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
    }
}

.details {
    margin-top: 30px;
    text-align: center;
}

.scores, .details {
    font: 400 15px "Poppins", sans-serif;
}

#result {
    width: 180px;
    padding: 10px 0;
    margin: 30px auto;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#player_choice, #computer_choice {
    font-weight: 400;
    margin-bottom: 10px;
}

span {
    font-weight: 600;
}